<!--Filename: about.ejs
    Students name: Mohana Subramanian
    StudentID: 301319170
    Date: 09/27/2023 -->
    
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!DOCTYPE html>
<html>
  <style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .text {
    padding-top: 30px;
    padding-left: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
    background-image: url('/img/homebgimg.png');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
  }
 
  </style>
  <body>
    <div class="container">
      <img src="/img/bgimg.png" style: height="400px" width="300px";>
      <div class="text" >
        <h4><strong>Hi there!<br> I'm Mohana Subramanian</strong></h4>
        <h12><strong><br>Studying Software Engineering in Artificial Intelligence at Centennial College.
          <br>Highly passionate Software Engineer. 
          <br>Full stack software developer creating open source projects and writing about modern Javascript, Node.js, and development.
          <h12>I <img src="/img/heart.png" style="width:22px;height:30px;"> programming.<br>

          <br><br>I was born and raised in India, where I developed strong interest towards the way technology affects the society.<br>
          If you're looking to work with me, feel free to email me at mohanas19@hotmail.com</strong></h12><br>
          
          <a href="https://drive.google.com/file/d/1amri6uOeVosbNIlxucqyKbJUdf05hQZF/view?usp=sharing">Resume</a></h12>
      </div>
    </div>
  </body>
</html>

   