<!--Filename: index.ejs
    Students name: Mohana Subramanian
    StudentID: 301319170
    Date: 09/27/2023 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<html>
  <head>
    <title>My Page Title</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
  </head>
  <style>
    body {
     background-image: url('/img/homebgimg.png');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     font-size:large;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
    }

  </style>

  <body>
    <br><br><br><br><br><br><br>
    <p>Continuously strive to learn new skills and offer better service to people around me.
      
      <br>Proficient in Object oriented programming concepts<br></p>
    <a href="/about" target="_self"><strong>About Me</strong></a>
  </body>
</html>



   