<!--Filename: projects.ejs
    Students name: Mohana Subramanian
    StudentID: 301319170
    Date: 09/27/2023 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-6" style="text-align: center; font-family: Arial, Helvetica, sans-serif;">My projects</h1>
  </div>
</main>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style> 
  img {
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background-image: url('/img/homebgimg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  h4{
    padding-left: 30px;
  }
  </style>
</head>

<body>
  <h4>Rupay Card</h4>
  <div style="display: flex;">
    <div>
      <img src="/img/rupay.png" style="float:left; width: 250px; height:200px; padding-left: 30px; border:20px;"/>
    </div>
    <div>
      <ul>
        <br>
        <li>The project’s main objective is to enable Rupay card transactions in rural areas of the <br>
        country with the help of POS devices like Analogics, Visiontek, Ingenico and Verifone.</li>
        <li>Led a team of 3 members.</li>
        <li>Design and development of secure APIs for financial transactions across systems.</li>
        <li>System understanding of the existing applications and working closely <br>
        with Business and technical stakeholders to manage ongoing changes</li>
      </ul>
    </div>
  </div>
  <br>

  <h4>ANZ Credit card</h4>
    <div>
      <div style="float: left;">
          <img src="/img/anz.png" style="float:left; width: 250px; height:200px; padding-left: 30px; border:20px;"/>
      </div>
      <div style="float: left;">
          <ul>
            <br>
            <br> 
          <li>Work closely with the end user using the application to replicate the scenario in the lower environment. </li>
          <li>Identify and fix Performance issues in the SQL stored procedures by analyzing the Query Execution Plan.</li>
          <li>Involved in the design and development of web application using JSP.</li>
          <li>Demo newly developed application pages to the business team and plan for future enhancements.</li>
          </ul>
      </div>
      <div style="clear: both;"></div>
    </div>
    <br>

  <h4>ALCOA</h4>
    <div>
      <div style="float: left;">
          <img src="/img/alcoa.png" style="float:left; width: 250px; height:200px; padding-left: 30px; border:20px;"/>
      </div>
      <div style="float: left;">
        <br>
        <br>
          <ul>
          <li>Involved in the design and development of web application using JSP.</li>
          <li>Hands on experience with JavaScript in the front-end.</li>
          <li>Demo newly developed application pages to the business team and plan for future enhancements.</li>
          <li>Root cause analysis on the issues identified and fixing them.</li>
          </ul>
      </div>
      <div style="clear: both;"></div>
    </div>
    <br>
</body>
</html>