<!--Filename: services.ejs
    Students name: Mohana Subramanian
    StudentID: 301319170
    Date: 09/27/2023 -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-6" style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Services Offered</h1>
  </div>
</main>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

<style> 
  body {
    background-image: url('/img/homebgimg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  h4{
    padding-left: 30px;
  }
  p{
    padding-left: 20px;
  }
</style>
</head>

<body>
  <h4>Web application development</h4>
    <div>
      <div style="float: left;">
          <img src="/img/webapp.png" style="float:left; width: 250px; height:200px; padding-left: 30px; border:20px;"/>
      </div>
      <div style="float: left;">
        <br>
        <br>
          <p><b>Stuck with web application development?</b><br>I can help you with the <br>
            web application development right from requirement gathering to testing and deployment.
            <br>I am proficient in developing applications built with <b>Javascript, MongoDB, Angular, NodeJS</b></p>
      </div>
      <div style="clear: both;"></div>
    </div>
    <br>
    <h4>Java web application development</h4>
    <div>
      <div style="float: left;">
          <img src="/img/javaweb.png" style="float:left; width: 250px; height:200px; padding-left: 30px; border:20px;"/>
      </div>
      <div style="float: left;">
        <br>
        <br>
          <p>I have experience in developing applications using Java. I have also developed applications using <b>Spring MVC, 
            <br>Restful Services, Hibernate.</b> Proficient in using JDBC, MySQL.</p>
      </div>
      <div style="clear: both;"></div>
    </div>
    <br>
    <h4>Front end Development</h4>
    <div>
      <div style="float: left;">
          <img src="/img/frontend.png" style="float:left; width: 250px; height:200px; padding-left: 30px; border:20px;"/>
      </div>
      <div style="float: left;">
        <br>
        <br>
          <p><b>Want to have a catchy and attractive webpage for your application?</b> <br>
          I provide service to develope web pages for your product.</p>
      </div>
      <div style="clear: both;"></div>
    </div>
  </body>
  </html>